* {
  margin: 0;
  padding: 0;
}

.colors {
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  margin: 10px 5px;
  width: 50px;
}

.mouseOver {
  font-size: 19px;
  width: 200px;
}

.selected {
  border: 3px solid black;
}
